<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
<% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
<% else %>
    <li>
      <%= link_to('Login', new_user_session_path) %>
    </li>
<% end %>

<h1>Products Index</h1>
<%= link_to "new", new_product_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
    <th>Model</th>
    <th>Maker</th>
    <th>Serial no</th>
    <th>Stock Location</th>
    <th>Quantity</th>
    <th>Unit Value</th>
    <th>Total Value</th>
    <th>Date</th>
    <th>Image</th>
    <th>Action</th>
  </tr>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product %></td>
        <td><%= product.name %></td>
        <td><%= product.category.name %></td>
        <td><%= truncate(product.description, length: 20) %></td>
        <td><%= product.product_model %></td>
        <td><%= product.maker_name %></td>
        <td><%= product.product_serial %></td>
        <td><%= product.stock_location %></td>
        <td><%= product.quentity %></td>
        <td><%= product.unit_value %></td>
        <%
          p = product.quentity.to_i
          price = product.unit_value.to_i
          @total = p * price
        %>
        <td><%= @total.to_s %></td>
        <td><%= @date.strftime("%B %Y") %></td>
        <td><%= image_tag product.image.url(:thumb) %></td>
        <td>
          <%= link_to 'Show', product %>
          <% if user_signed_in? %>
              <%= link_to 'Edit', edit_product_path(product) %>
          <% end %>

        </td>
      </tr>
  <% end %>
</table>
